<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Linq.Base" version="16.1.0.37" targetFramework="net452" />
  <package id="Syncfusion.Schedule.WPF" version="16.1.0.37" targetFramework="net452" />
  <package id="Syncfusion.SfRadialMenu.WPF" version="16.1.0.37" targetFramework="net452" />
  <package id="Syncfusion.SfSchedule.WPF" version="16.1.0.37" targetFramework="net452" />
  <package id="Syncfusion.SfShared.WPF" version="16.1.0.37" targetFramework="net452" />
  <package id="Syncfusion.Shared.WPF" version="16.1.0.37" targetFramework="net452" />
</packages>